
<div class="filters">
  <input class="search" id="searchBox" placeholder="Поиск..." (input)="filter()">
  <form [formGroup]="cityForm">
    <ng-select class="ng-dropdown"  required formControlName="city" (change)="filter()">
      <ng-option value="" disabled selected >Выберите город</ng-option>
      <ng-option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</ng-option>
    </ng-select>
  </form>
</div>

<div class="main inline" id="content"  *ngIf="applications.length > 0">
    <div class="left-block"></div>
    <div class="content">
      <div *ngFor="let application of applications" class="child">
        <div class="img">
          <img class="listimg" [routerLink]="['/application/' + application.id]" src={{application.photoApplications[0].photo}}>
        </div>
        <div class="contentimg">
          <nav>
            <a class="nava" [routerLink]="['/application/' + application.id]">{{application["name"]}}</a>
          </nav>
          <p class="description" [routerLink]="['/application/' + application.id]">{{(application["description"].length>50)? (application["description"] |slice:0:50) + '...':(application["description"])}}</p>
        </div>
      </div>
    </div>
    <div class="right-block"></div>
</div>

<div class="empty" *ngIf="applications.length == 0">
  <label>ПУСТО</label>
</div>
  