<!-- Вторая шапка страницы -->
<div class="header_green">
  <div class="header_menu2">
    <form [formGroup]="cityForm">
      <ng-select class="ng-dropdown"  required formControlName="city" (change)="filter()">
        <ng-option value="" disabled selected >Выберите город</ng-option>
        <ng-option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</ng-option>
      </ng-select>
    </form>
    <div class="header_green_search">
      <input class="search" id="searchBox" placeholder="поиск" type="text" (input)="filter()">
      <img src="/assets/img/icons/icon2.svg" alt="иконка поиск">
    </div>
  </div>
</div>

<div id="head" style="display: block;">
    <!-- Баннер -->
    <div class="banner">
      <!-- Контейнер -->
      <div class="container">
        <div class="banner_h1">
          <h1>Сохраняем <span style="color: #A4CA62; font-family: 'Angry';">природу</span> для<span style="color: #A4CA62; font-family: 'Angry';"> будущего</span></h1>
        </div>
      </div>

    </div>


<!-- События -->
<div class="events" *ngIf="applications.length > 0">
  <!-- Контейнер -->
  <div class="container">
    <h1>События</h1>
    <div class="events_display">
      <!-- Событие -->
      <div class="event" *ngFor="let application of applications">
        <div>
          <img src={{application.photoApplications[0].photo}} alt="картинка1">
          <h2>{{application["name"]}}</h2>
          <p>{{(application["description"].length>50)? (application["description"] |slice:0:50) + '...':(application["description"])}}</p>
        </div>
        <a [routerLink]="['/application/' + application.id]">перейти</a>
      </div>
    </div>
  </div>
  <div class="padding"></div>
</div>

<div class="empty" *ngIf="applications.length == 0">
  <label>ПУСТО</label>
</div>