<!-- Баннер -->
<div class="banner3">
  <div class="container">
    <!-- Профиль -->
    <h1 class="subtitle">Регистрация</h1>
    <div>
      <form class="form2" name="profil" [formGroup]="authForm" (ngSubmit)="signIn()">
        <div>

          <h2 class="eco_type_input">Имя*</h2>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
            <input type="text" class="eco_input" formControlName="name" required>
          </p>
          <div *ngIf="isSubmitted && formControls.name.errors">
            <div style="color: red;">Заполните поле имени!</div>
          </div>

          <h2 class="eco_type_input">Фамилия*</h2>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.surname.errors }">
            <input type="text" class="eco_input"  formControlName="surname" required>
          </p>
          <div *ngIf="isSubmitted && formControls.surname.errors" class="help-block">
            <div style="color: red;">Заполните поле фамилии!</div>
          </div>

          <h2 class="eco_type_input">Пол*</h2>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.gender.errors }" required>
            <select required formControlName="gender">
              <option value="" disabled selected>выберите пол</option>
              <option value="1">Женский</option>
              <option value="2">Мужской</option>
            </select>
          </p>
          <div *ngIf="isSubmitted && formControls.gender.errors" class="help-block">
            <div style="color: red;">Укажите пол!</div>
          </div>

          <h2 class="eco_type_input">Город*</h2>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.city.errors }">
            <ng-select required formControlName="city">
              <ng-option value="" disabled selected>выберите город</ng-option>
              <ng-option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</ng-option>
           </ng-select>
          </p>
          <div *ngIf="isSubmitted && formControls.city.errors" class="help-block">
            <div style="color: red;">Укажите город!</div>
          </div>
        </div>
        <div>

          <h2 class="eco_type_input">Телефон*</h2>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.telephone.errors }">
            <input type="text" class="eco_input" formControlName="telephone" required>
          </p>
          <div *ngIf="authForm.get('telephone')?.errors?.incorrect" style="color: red;">Введите другой телефон!</div>
          <div *ngIf="isSubmitted && formControls.telephone.errors" class="help-block">
            <div style="color: red;">Заполните поле телефона!</div>
          </div>

          <h2 class="eco_type_input">Email*</h2>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
            <input type="email" class="eco_input" ngModel [email]="true" formControlName="email" required>
          </p>
          <div *ngIf="authForm.get('email')?.errors?.incorrect">Введите другую почту!</div>
          <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
            <span *ngIf="authForm.get('email')?.errors?.email" style="color: red;">Почта введена не верно</span>
            <div style="color: red;">Заполните поле почты!</div>
          </div>

          <h2 class="eco_type_input">Пароль*</h2>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
            <input name="password" required placeholder="введите ваш новый пароль" class="eco_input" type="password" formControlName="password" ngModel [pattern]="unamePattern">
          </p>
          <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
            <div *ngIf="formControls.password.errors?.pattern" style="color: red;">
                Пароль должен содержать хотя бы одну цифру, 
                одну заглавную<br/> букву и
                прописную и состоять минимум из 8ми символов
                <br/> Пароль не может содержать пробел
              </div>
            <div style="color: red;">Введите пароль!</div>
          </div>

          <h2 class="eco_type_input">Повторите пароль*</h2>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.repeatPassword.errors }">
            <input type="password" class="eco_input" required placeholder="повторите ваш пароль" formControlName="repeatPassword">
          </p>
           <div *ngIf="authForm.get('repeatPassword')?.errors?.incorrect" style="color: red;">Пароли не совпадают</div>
          <div *ngIf="isSubmitted && formControls.repeatPassword.errors" class="help-block">
            <div style="color: red;">Введите пароль еще раз!</div>
          </div>

        </div>
        <input class="eco_button4" type="submit" value="зарегистрироваться">
      </form>
    </div>
  </div>
</div>