<mat-tab-group style="font-size: 20px;">
    <mat-tab class="mat-tab-header" label="📈 моя статистика">
        <!-- Баннер -->
        <div class="banner4">
            <div class="container">
            <!-- Статистика -->
            <h1 class="subtitle">Статистика</h1>
            <div class="statistics">
                <div class="statistics_1">
                <h1 class="left">Количество созданных событий</h1>
                <p>{{statistic.countApplication}}</p>
                </div>
                <div class="statistics_2">
                <h1 class="left">Количество участий в событиях</h1>
                <p>{{statistic.countPartApplication}}</p>
                </div>
                <div class="statistics_1">
                <h1 class="left">Количество событий в моем городе</h1>
                <p>{{statistic.countUserCityApplication}}</p>
                </div>
                <div class="statistics_2">
                <h1 class="left">Количество событий созданных в этом году участниками</h1>
                <p>{{statistic.countApplicationThisYear}}</p>
                </div>
                <div class="statistics_1">
                <h1 class="left">Количество участников в моем городе</h1>
                <p>{{statistic.countUserInCity}}</p>
                </div>
                <div class="statistics_2">
                <h1 class="left">Количество участников в приложении</h1>
                <p>{{statistic.countUserInApp}}</p>
                </div>
                <div class="statistics_1">
                <h1 class="left">Количество дней с регистрации</h1>
                <p>{{statistic.countActivDays}}</p>
                </div>
                <div class="statistics_2">
                <h1 class="left">Мое место в топе по участникам</h1>
                <p>{{statistic.countTopUserPlace}}</p>
                </div>
                <div class="statistics_1">
                <h1 class="left">Мое место в топе по городам</h1>
                <p>{{statistic.countTopUserCityPlace}}</p>
                </div>
            </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="🍃 топ участников">
        <div class="banner4">
            <div class="container">
                <h1 class="subtitle">Топ участников</h1>
                <div class="user-top">
                    <table id="users" style="font-size: 20px;">
                        <tr>
                            <th>№</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                        </tr>
                        <tr *ngFor="let user of topUser; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.surname }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="🏙️ топ городов">
        <div class="banner4">
            <div class="container">
                <h1 class="subtitle">топ городов</h1>
                <div class="city-top">
                    <table id="users" style="font-size: 20px;">
                        <tr>
                            <th>№</th>
                            <th>Город</th>
                        </tr>
                        <tr *ngFor="let city of topCity; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{ city.name }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </mat-tab>
  </mat-tab-group>
