.user-statisic {
  padding: 20px; 
  background: #EEEEEE; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.city-top {
    width: 80%;
    margin: 16px auto;
    font-size: 16px;
    margin-top: 28px;
    border-color: rgb(64, 81, 59);
    border-width: 2px;
    border-style: solid;
}

.user-top {
    width: 80%;
    margin: 16px auto;
    font-size: 16px;
    margin-top: 28px;
    border-color: rgb(64, 81, 59);
    border-width: 2px;
    border-style: solid;
}

.user-statisic-header {
  padding: 20px; 
  background: #A4CA62; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  font-family: 'Montserrat'; 
  font-weight: 500; 
  font-size: 20px; 
  color: #FFFFFF; 
  width: 33.33%; 
  text-align: center; 
}

ul li,
ol li {
  list-style: none;
  margin: 10px;
}
ol {
  padding: 0px;
}
ol li {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  font-size: 25px;
}

p{
  margin: 2px;
  font-size: 20px;
}

li div:nth-child(2) {
  flex: 1 0;
  border-bottom: 1px dotted #000;
  height: 1em;
}

#users {
  border-collapse: collapse;
  width: 100%;
}

#users td, #users th {
  border: 1px solid #ddd;
  padding: 8px;
}

#users tr:nth-child(even){background-color: #f2f2f2;}

#users tr:hover {background-color: #ddd;}

#users th {
  font-family: 'Montserrat'; 
  font-weight: 500; 
  font-size: 20px; 
  color: #FFFFFF;
  text-align: center;
  padding: 20px; 
  background: #A4CA62;
  align-items: center;
  font-family: 'Montserrat'; 
  font-weight: 500; 
  font-size: 20px; 
  color: #FFFFFF;
  text-align: center; 
 }