<!-- Баннер -->
<div class="banner3">
  <div class="container">
    <!-- Профиль -->
    <h1 class="subtitle">профиль</h1>
    <div>
      <form class="form2" name="profil" [formGroup]="profilForm" (ngSubmit)="signIn()">
        <div>

          <h2 class="eco_type_input">Имя</h2>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
            <input type="text" class="eco_input" formControlName="name">
          </p>
          <div *ngIf="isSubmitted && formControls.name.errors" class="help-block">
            <div *ngIf="formControls.name.errors.required" style="color: red;">Заполните поле имени!</div>
          </div>

          <h2 class="eco_type_input">Фамилия</h2>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.surname.errors }">
            <input type="text" class="eco_input"  formControlName="surname">
          </p>
          <div *ngIf="isSubmitted && formControls.surname.errors" class="help-block">
            <div *ngIf="formControls.surname.errors.required" style="color: red;">Заполните поле фамилии!</div>
          </div>

          <h2 class="eco_type_input">Пол</h2>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.gender.errors }">
            <select required formControlName="gender">
              <option value="" disabled selected>Выберите пол</option>
              <option value="1">Женский</option>
              <option value="2">Мужской</option>
            </select>
          </p>
          <div *ngIf="isSubmitted && formControls.gender.errors" class="help-block">
            <div *ngIf="formControls.gender.errors.required" style="color: red;">Укажите пол!</div>
          </div>

          <h2 class="eco_type_input">Город*</h2>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.city.errors }">
            <ng-select required formControlName="city">
              <ng-option value="" disabled selected>Выберите город</ng-option>
              <ng-option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</ng-option>
           </ng-select>
          </p>
          <div *ngIf="isSubmitted && formControls.city.errors" class="help-block">
            <div *ngIf="formControls.city.errors.required" style="color: red;">Укажите город!</div>
          </div>
        </div>
        <div>

          <h2 class="eco_type_input">Телефон*</h2>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.telephone.errors }">
            <input type="text" class="mask-phone" formControlName="telephone">
          </p>
          <div *ngIf="profilForm.get('telephone')?.errors?.incorrect" style="color: red;">Введите другой телефон!</div>
          <div *ngIf="isSubmitted && formControls.telephone.errors" class="help-block">
            <div *ngIf="formControls.telephone.errors.required" style="color: red;">Заполните поле телефона!</div>
          </div>

          <h2 class="eco_type_input">Email</h2>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
            <input type="email" class="eco_input" ngModel [email]="true" formControlName="email">
          </p>
          <div *ngIf="profilForm.get('email')?.errors?.email" style="color: red;">Почта введена не верно</div>
          <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
            <div *ngIf="formControls.email.errors.required" style="color: red;">Заполните поле почты!</div>
          </div>

          <h2 class="eco_type_input">Старый пароль</h2>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
            <input name="passwordInput" type="password" class="eco_input" placeholder="введите ваш старый пароль" formControlName="password">
          </p>
          <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
            <div *ngIf="formControls.password.errors.required" style="color: red;">Заполните поле пароля!</div>
          </div>

          <h2 class="eco_type_input">Новый пароль</h2>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.newPassword.errors }">
            <input name="newPassword" placeholder="введите ваш новый пароль" class="eco_input" type="password" formControlName="newPassword" ngModel [pattern]="unamePattern">
          </p>
          <div *ngIf="isSubmitted && formControls.newPassword.errors" class="help-block">
            <div *ngIf="formControls.newPassword.errors?.pattern" style="color: red;">
                Пароль должен содержать хотя бы одну цифру, 
                одну заглавную<br/> букву и
                прописную и состоять минимум из 8ми символов
                <br/> Пароль не может содержать пробел
              </div>
            <div *ngIf="formControls.newPassword.errors.required" style="color: red;">Введите новый пароль!</div>
          </div>
        </div>
        <input class="eco_button4" type="submit" value="сохранить">
      </form>
    </div>
  </div>
</div>