body {
    background: rgb(157, 192, 139);
}

.profil {
  width: 60%;
  margin: 16px auto;
  font-size: 16px;
  margin-top: 30px;
  border-color: rgb(64, 81, 59);
  border-width: 2px;
  border-style: solid;
}

.profil-header,
.profil p {
  margin-top: 0;
  margin-bottom: 0;
}

.profil-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: rgb(157, 192, 139);
}

.profil-header {
  background: rgb(64, 81, 59);
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: rgb(237, 241, 214);
}

.profil-container {
  padding: 12px;
}

.profil p {
  padding: 12px;
}

.profil input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.profil select {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.profil ng-select {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  background: #fff;
  border-color: rgb(64, 81, 59);
  color: rgb(64, 81, 59);
  .ng-dropdown-panel .ng-dropdown-panel-items{
    background: whitesmoke;
  }
  .ng-dropdown-panel .ng-option.ng-option-marked {
    background: rgb(157, 192, 139);
  }
}

.profil select:required:invalid {
  color: gray;
}
.profiloption[value=""][disabled] {
  display: none;
}
.profil option {
  color: black;
}

.profil input[type="email"],
.profil input[type="password"] {
  background: #fff;
  border-color: rgb(64, 81, 59);
  color: rgb(64, 81, 59);
}

.profil input[type="email"]:focus,
.profil input[type="password"]:focus {
  border-color: rgb(64, 81, 59);
}

.profil input[type="submit"] {
  background: rgb(64, 81, 59);
  border-color: transparent;
  color: rgb(237, 241, 214);
  cursor: pointer;
}

.profil input[type="submit"]:hover {
  background: rgb(157, 192, 139);;
}

.profil input[type="submit"]:focus {
  border-color: rgb(157, 192, 139);;
}

.has-error input[type="email"],
.has-error input[type="password"] {
    border-color: rgb(216, 12, 12);
    color: rgb(230, 14, 14);
}

.btn {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  background: rgb(157, 192, 139);
  border-color: transparent;
  color: rgb(64, 81, 59);
  cursor: pointer;
}

.first-column {
  width: 50%;
}

.second-column {
  width: 50%;
}

@media (max-width: 900px){
  .page {
    flex-direction: column;
  }
  .second-column {
    width: 100%;
  }
  .first-column {
    width: 100%;
  }
}

:host ::ng-deep .iti {
  width: 100%;
}

.page {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.placeholder-label {
    font-size: 18px;
    margin-left: 10px;
    color: rgb(64, 81, 59);
}