<table *ngIf="users.length > 0" id="users">
    <tr style="text-align: center; font-weight: bold; background-color: rgb(111, 131, 105);">
        <td>ID</td>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Город</td>
        <td>Дата регистрации</td>
        <td>Количество забаненных событий</td>
        <td>Забанен</td>
    </tr>

    <tr *ngFor="let user of users" style="text-align: center;">
        <td [routerLink]="['/user/' + user.id]" style="cursor: pointer;">{{user.id}}</td>
        <td [routerLink]="['/user/' + user.id]" style="cursor: pointer;">{{user.name}}</td>
        <td [routerLink]="['/user/' + user.id]" style="cursor: pointer;">{{user.surname}}</td>
        <td [routerLink]="['/user/' + user.id]" style="cursor: pointer;">{{user.idCityNavigation.name}}</td>
        <td [routerLink]="['/user/' + user.id]" style="cursor: pointer;">{{user["dateRegist"] | date: 'dd.MM.yyyy'}}</td>
        <td *ngIf="user.countBannedApplication > 0" style="background-color: rgba(255, 0, 0, 0.473); cursor: pointer;" [routerLink]="['/user/' + user.id]">
            {{user.countBannedApplication}}
        </td>
        <td *ngIf="user.countBannedApplication == 0" style="background-color: rgba(50, 141, 66, 0.61); cursor: pointer;" [routerLink]="['/user/' + user.id]">
            {{user.countBannedApplication}}
        </td>
        <td *ngIf="user.isBanned"  style="background-color: rgba(255, 0, 0, 0.473); cursor: pointer;" [routerLink]="['/user/' + user.id]">
            {{user.isBanned}}
        </td>
        <td *ngIf="!user.isBanned" style="background-color: rgba(50, 141, 66, 0.61); cursor: pointer;" [routerLink]="['/user/' + user.id]">
            {{user.isBanned}}
        </td>
    </tr>
</table>
