body {
    background: rgb(157, 192, 139);
}

.mail {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
  margin-top: 30px;
  border-color: rgb(64, 81, 59);
  border-width: 2px;
  border-style: solid;
}

.mail-header,
.mail p {
  margin-top: 0;
  margin-bottom: 0;
}

.mail-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: rgb(157, 192, 139);
}

.mail-header {
  background: rgb(157, 192, 139);
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: rgb(64, 81, 59);
}

.floating-label {
    border-radius: 0.25rem;
    position: relative;
    width: 100%;
}

mat-form-field {
  border: black;
  padding: 0.5rem;
  width: 94%;
}

.floating-label__input:not(:placeholder-shown) + .floating-label__label {
    background: rgb(237, 241, 214);
    transform: translate(0, -200%);
    opacity: 1;
}

.mail p {
  padding: 12px;
}

.mail input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  background: rgb(248, 247, 247);
  border-left: none;
  border-top: none;
  border-right: none;
}


.mail input[type="submit"] {
  background: rgb(157, 192, 139);
  border-color: transparent;
  color: rgb(64, 81, 59);
  cursor: pointer;
}

.has-error input {
    border-color: rgb(216, 12, 12);
    color: rgb(230, 14, 14);
}

.btn {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  background: rgb(157, 192, 139);
  border-color: transparent;
  color: rgb(64, 81, 59);
  cursor: pointer;
}

label {
    font-weight: normal;
}