.page {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.gallery {
  width: 50%;
  text-align: center;
}

.mainimg {
  height: 450px;
  width: 450px;
}

.galleryimg {
  height: 100px;
  width: 100px;
  margin: 5px;
  cursor: pointer;
}

.galleryimg:hover {
  filter: brightness(50%);
  transition: 0.2s;
}

.description {
  width: 50%;
  text-align: left;
}

h1 {
  text-align: center;
}

ul li,
ol li {
  list-style: none;
}
ol {
  padding: 0px;
}
ol li {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  font-size: 20px;
}

p{
  margin: 2px;
  font-size: 20px;
}

li div:nth-child(2) {
  flex: 1 0;
  border-bottom: 1px dotted #000;
  height: 1em;
}

progress[value]{
  appearance: none;
  width: 92%;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

button {
  box-sizing: border-box;
  margin-top: 10px;
  display: block;
  width: 92%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  background: rgb(157, 192, 139);
  border-color: transparent;
  color: rgb(64, 81, 59);
  cursor: pointer;
}

a {
  box-sizing: border-box;
  margin-top: 10px;
  display: block;
  width: 92%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  background: rgb(157, 192, 139);
  border-color: transparent;
  color: rgb(64, 81, 59);
  cursor: pointer;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
}

@media (max-width: 900px){
  .page {
    flex-direction: column;
  }
  .description {
    width: 100%;
    margin-left: 20px;
  }
  .gallery {
    width: 100%;
  }

}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}