<body>
  <div class="wrapper">
    <div class="header">
      <div class="name">
        <p [routerLink]="['/']" style="cursor: pointer;">ЭкоЦивилизация</p>
      </div>
    
      <div class="rightspace">
        <div class="dropdown">
          <div id="account" style="display: none;">
            <a>
              <mat-icon>home</mat-icon>
            </a>
            <div class="dropdown-content">
              <a href="">Главная</a>
              <a [routerLink]="['/account']">Профиль</a>
              <a [routerLink]="['/add']">Добавить</a>
              <a [routerLink]="['/yourEvents']">Мои события</a>
              <a [routerLink]="['/yourPart']">Мои участия</a>
              <a [routerLink]="['/statistic']">Статистика</a>
              <a (click)="exit()">Выйти</a>
            </div>
          </div>
    
          <div id="authoriz" style="display: none;">
            <a [routerLink]="['/auth']" class="icon">
              <mat-icon>account_circle</mat-icon>
            </a>
          </div>

          <div id="goOut" style="display: none;">
            <a (click)="exit()" class="icon">
              <mat-icon>exit_to_app</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="main">
        <router-outlet></router-outlet>
    </div>
  </div>
</body>
  
<footer class="footer-distributed">
  <div class="footer-left">
    <h3>Eco<span>Civilization</span></h3>
    <p class="footer-company-name">ЭкоЦивилизация © 2023</p>
  </div>

  <div class="footer-center">
    <div>
      <p>+7 (937) 778-31-80</p>
    </div>

    <div>
      <p><a href="EcoCivilizationApp@yandex.com">EcoCivilizationApp@yandex.com</a></p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>О продукте</span>
      Платформа для организации волонтерской деятельности и субботников.
    </p>
  </div>
</footer>