<div class="header">
  <div class="name">
    <p>ЭкоЦивилизация</p>
  </div>

  <div class="rightspace">
    <div id="search" class="search">
      <input type="text" class="search-box" name="search" placeholder="Поиск..">
    </div>

    <div class="dropdown">
      <div id="account" style="display: none;">
        <a>
          <mat-icon>home</mat-icon>
        </a>
        <div class="dropdown-content">
          <a [routerLink]="['/add']">Добавить</a>
          <a [routerLink]="['/yourEvents']">Мои события</a>
          <a [routerLink]="['/yourPart']">Мои участия</a>
          <a href="#">Статистика</a>
          <a (click)="exit()">Выйти</a>
        </div>
      </div>
      <div id="authoriz" style="display: none;">
        <a [routerLink]="['/auth']" class="icon">
          <mat-icon>account_circle</mat-icon>
        </a>
      </div>
    </div>

  </div>
</div>

<div id="menu" style="display: none;">
  <ul class="menu-main">
    <li><a href="">Главная</a></li>
    <li><a [routerLink]="['/add']">Добавить</a></li>
    <li><a href="">Статистика</a></li>
  </ul>
</div>

<div class="main">
    <router-outlet></router-outlet>
</div>
