<!-- Баннер -->
<div class="banner2">
  <div class="container">
    <!-- Авторизация -->
    <h1 class="subtitle">Авторизация</h1>
    <div class="eco_form">
      <form name="authorize" [formGroup]="authForm" class="email-container" (ngSubmit)="signIn()">

        <h2 class="eco_type_input">Email*</h2>
        <p [ngClass]="{ 'has-error': isSubmitted && formControls.login.errors}">
          <input type="email" class="eco_input" required placeholder="укажите email" formControlName="email">
        </p>
        <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
          <div *ngIf="formControls.email.errors.required">Заполните поле почты</div>
        </div>

        <h2 class="eco_type_input">Пароль*</h2>
        <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors}" class="example-container">
          <input type="password" class="eco_input" required placeholder="введите свой пароль" formControlName="password">
        </p>
        <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
          <div *ngIf="formControls.password.errors.required">Заполните поле пароля</div>
        </div>

        <p>
          <input class="eco_button" type="submit" value="войти">
        </p>
        
        <a [routerLink]="['/registration']" class="eco_button2">зарегистрироваться</a>
      </form>
    </div>
  </div>
</div>