<!-- События -->
<div class="events" *ngIf="userApplications.length > 0">
  <!-- Контейнер -->
  <div class="container">
    <h1>Мои события</h1>
    <div class="events_display">
      <!-- Событие -->
      <div class="event" *ngFor="let application of userApplications">
        <div>
          <img src={{application.photoApplications[0].photo}} alt="картинка1">
          <h2>{{application["name"]}}</h2>
          <p>{{(application["description"].length>50)? (application["description"] |slice:0:50) + '...':(application["description"])}}</p>
        </div>
        <a [routerLink]="['/application/' + application.id]">перейти</a>
      </div>
    </div>
  </div>
  <div class="padding"></div>
</div>

<div class="empty" *ngIf="userApplications.length == 0">
  <label>ПУСТО</label>
</div>