<div class="login">
    <h2 class="login-header">Добавление события</h2>
    <form name="createApplication" [formGroup]="addForm" class="login-container" (ngSubmit)="addApplication()">
        <div class="page">
            <div class="description">
                <div class="floating-label">
                    <p [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }"></p>
                    <mat-form-field>
                        <mat-label>Название</mat-label>
                        <input matInput class="floating-label__input" formControlName="name">
                        </mat-form-field>
                </div>

                <div class="floating-label">
                    <p [ngClass]="{ 'has-error': isSubmitted && formControls.description.errors }"></p>
                    <mat-form-field>
                        <mat-label>Описание</mat-label>
                        <textarea matInput class="floating-label__input" formControlName="description"></textarea>
                        </mat-form-field>
                </div>

                <p [ngClass]="{ 'has-error': isSubmitted && formControls.city.errors }">
                    <ng-select class="ng-dropdown"  required formControlName="city">
                        <ng-option value="" disabled selected >Выберите город*</ng-option>
                        <ng-option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</ng-option>
                    </ng-select>
                </p>
                <div *ngIf="isSubmitted && formControls.city.errors" class="help-block">
                    <div *ngIf="formControls.city.errors.required" style="color: red;">Укажите город!</div>
                </div>

                <div class="floating-label">
                    <p [ngClass]="{ 'has-error': isSubmitted && formControls.place.errors }"></p>
                    <mat-form-field>
                        <mat-label>Место проведения</mat-label>
                        <textarea matInput class="floating-label__input" formControlName="place"></textarea>
                        </mat-form-field>
                </div>

                <div class="floating-label">
                    <p [ngClass]="{ 'has-error': isSubmitted && formControls.date.errors }"></p>
                        <label>Выберите дату и время*</label>
                        <input class="date-time" type="datetime-local" (min)="minDate" (max)="maxDate" formControlName="date">
                </div>
                <div *ngIf="isSubmitted && formControls.date.errors" class="help-block">
                    <div *ngIf="formControls.date.errors.required" style="color: red;">Выберите дату!</div>
                </div>

                <div class="floating-label">
                    <p [ngClass]="{ 'has-error': isSubmitted && formControls.countPart.errors }"></p>
                        <label>Выберите количество участников*</label>
                        <input type="number" class="input-number" min="2" max="30" formControlName="countPart" required>
                </div>
                <div *ngIf="isSubmitted && formControls.countPart.errors" class="help-block">
                    <div *ngIf="formControls.countPart.errors.required" style="color: red;">Выберите количество участников!</div>
                </div>
            </div>

            <div class="gallery">
                <input type="file" class="file-input" accept="image/png, image/jpeg, image/jpg"
                    (change)="onFileSelected($event)" multiple #fileUpload>
                <div class="file-upload">
                {{"Загрузить изображения"}}
                    <a class="upload-a" (click)="fileUpload.click()">
                        <mat-icon>attach_file</mat-icon>
                    </a>
                </div>

                <div *ngFor="let image of photos" class="gallery-place">
                  <img [src]="image.url" class="galleryimg" alt="Image">
                  <button class="btn-delete" (click)="deleteImg(image)">x</button>
                </div>
            </div>

        </div>

        <p>
            <button type="submit" class="btn">Сохранить</button>
        </p>
    </form>
</div>
