.page {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.gallery {
    width: 50%;
    text-align: center;
}

.description {
    width: 50%;
}

.floating-label {
    border-radius: 0.25rem;
    position: relative;
}

.floating-label__input {
    border: none;
    padding: 0.5rem;
    width: 100%;
}

.floating-label__input:not(:placeholder-shown) + .floating-label__label {
    background: rgb(237, 241, 214);
    transform: translate(0, -200%);
    opacity: 1;
}

.floating-label__label {
    left: 1rem;
    position: absolute;
    top: 100%;
    opacity: 0;
    transition: all 200ms;
}


body {
    background: rgb(157, 192, 139);
}

.login {
  width: 80%;
  margin: 16px auto;
  font-size: 16px;
  margin-top: 30px;
  border-color: rgb(64, 81, 59);
  border-width: 2px;
  border-style: solid;
}


.login-header {
  background: rgb(64, 81, 59);
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: rgb(237, 241, 214);
  margin: 0;
}

.login-container {
  background: rgb(237, 241, 214);
  padding: 12px;
}

.login select {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login select:required:invalid {
  color: gray;
}
.loginoption[value=""][disabled] {
  display: none;
}
.login option {
  color: black;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: rgb(64, 81, 59);
  color: rgb(64, 81, 59);
}

.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: rgb(64, 81, 59);
}

mat-form-field {
    width: 80%;
}

.login input [type="submit"] {
  background: rgb(157, 192, 139);
  border-color: transparent;
  color: rgb(64, 81, 59);
  cursor: pointer;
}

.date-time {
  display: block;
  width: 75%;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: 1px;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 16px;
  background: whitesmoke;
  border-color: rgb(64, 81, 59);
  color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
}

.input-number {
  margin-left: 20px;
  width: 15%;
}

ng-select {
  display: block;
  width: 80%;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: 1px;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 16px;
  background: whitesmoke;
  border-color: rgb(64, 81, 59);
  color: rgba(0, 0, 0, 0.6);
}

ng-dropdown-panel.ng-dropdown {
  background-color: white;
}




.login input[type="submit"]:hover {
  background: rgb(157, 192, 139);;
}

.login input[type="submit"]:focus {
  border-color: rgb(157, 192, 139);;
}

.has-error input[type="email"],
.has-error input[type="password"] {
    border-color: rgb(216, 12, 12);
    color: rgb(230, 14, 14);
}

.btn {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  background: rgb(64, 81, 59);
  border-color: transparent;
  color: rgb(237, 241, 214);
  cursor: pointer;
  margin-top: 10px;
}

@media (max-width: 900px){
    .page {
      flex-direction: column;
    }
    .description {
      width: 100%;
    }
    .gallery {
      width: 100%;
    }

}
